<ion-header>
  <ion-toolbar color="danger">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="item"></ion-back-button>
    </ion-buttons>

    <ion-title slot="start">About</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-card style="width: 600px;">
          <ion-card-header class="center">
            <img src="../../assets/kun.jpg" class="center" style="width: 300px; height: 300px; border-radius: 200px;">
          </ion-card-header>
          <ion-card-content>
            <ion-label> 
              <ion-text class="center">
                <h1 style="color: black;"><b> Celvyn Yulian </b></h1>
              </ion-text>
              <hr color="#f28c9a">
              <ion-text class="center">
                <h2 style="color: black;"><b> 00000019475 - AL </b></h2>
              </ion-text>
              <hr color="#f28c9a">
              <ion-text>
                Pada saat pengerjaan ujian ini, saya dibantu oleh teman-teman, modul teori dan praktikum week 1-7, dan Ionic Documentation.
                Berikut nama teman-teman yang ikut membantu: 

                <ion-grid>
                  <ion-row>
                    <ion-col><p><b> Fenri Mintardja </b></p></ion-col>
                    <ion-col><p><b> Stefanus Dwitra L </b></p></ion-col>
                    <ion-col><p><b> Eka Satya </b></p></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><p><b> Jonathan. </b></p></ion-col>
                    <ion-col><p><b> Mikhail Aresa </b></p></ion-col>
                    <ion-col><p><b> Vincent. </b></p></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><p><b> Grendi Nugroho </b></p></ion-col>
                    <ion-col><p><b> Charles Matheus </b></p></ion-col>
                    <ion-col><p><b> Viriya Lucky </b></p></ion-col>
                  </ion-row>
                  
                </ion-grid>
              </ion-text>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
