<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button menu="shopMenu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onClick()" expand="block" shape="round" color="light" slot="end">
        <ion-icon name="grid" slot="icon-only" *ngIf="viewStyle === 'list'"></ion-icon>
        <ion-icon name="list" slot="icon-only" *ngIf="viewStyle === 'grid'"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title slot="start">Item List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="viewStyle === 'list'">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-segment value="proc" (ionChange)="onFilterUpdate($event)" color="danger">
          <ion-segment-button value="proc">Prosesor</ion-segment-button>
          <ion-segment-button value="ram">Ram</ion-segment-button>
          <ion-segment-button value="mobo">Mobo</ion-segment-button>
          <ion-segment-button value="gpu">GPU</ion-segment-button>
        </ion-segment>

        <ion-list *ngIf="eventS === 'proc'">
            <ion-item [routerLink]="['./proc/', proc.id]" *ngFor="let proc of proc; index as i">
              <ion-avatar slot="start">
                <ion-img [src]="proc.imgUrl"></ion-img>
              </ion-avatar>
              <ion-label> 
                <ion-text>
                  <h2> {{ proc.model }}  </h2>
                  <p> {{ proc.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                  <p> Stock : {{ proc.stock | number }} </p>
                </ion-text>
              </ion-label>
            </ion-item>
            
            <ion-item *ngIf="proc.length == 0">
              <ion-label>No Item</ion-label>
            </ion-item>
        </ion-list> 

        <ion-list *ngIf="eventS === 'ram'">
          <ion-item [routerLink]="['./ram/', ram.id]" *ngFor="let ram of ram">
            <ion-avatar slot="start">
              <ion-img [src]="ram.imgUrl"></ion-img>
            </ion-avatar>
            <ion-label> 
              <ion-text>
                <h2> {{ ram.model }}  </h2>
                <p> {{ ram.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                <p> Stock : {{ ram.stock | number }} </p>
              </ion-text>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="ram.length == 0">
            <ion-label>No Item</ion-label>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="eventS === 'mobo'">
          <ion-item [routerLink]="['./mobo/', mobo.id]" *ngFor="let mobo of mobo">
            <ion-avatar slot="start">
              <ion-img [src]="mobo.imgUrl"></ion-img>
            </ion-avatar>
            <ion-label> 
              <ion-text>
                <h2> {{ mobo.model }} </h2>
                <p> {{ mobo.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                <p> Stock : {{ mobo.stock | number }} </p>
              </ion-text>
            </ion-label>
          </ion-item>
          
          <ion-item *ngIf="mobo.length == 0">
            <ion-label>No Item</ion-label>
          </ion-item>
        </ion-list>

         <ion-list *ngIf="eventS === 'gpu'">
            <ion-item [routerLink]="['./gpu/', gpu.id]" *ngFor="let gpu of gpu">
              <ion-avatar slot="start">
                <ion-img [src]="gpu.imgUrl"></ion-img>
              </ion-avatar>
              <ion-label> 
                <ion-text>
                  <h2> {{ gpu.model }} </h2>
                  <p> {{ gpu.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                  <p> Stock : {{ gpu.stock | number }} </p>
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item *ngIf="gpu.length == 0">
              <ion-label>No Item</ion-label>
            </ion-item>
         </ion-list>
        
      </ion-col>
   </ion-row>
  </ion-grid> 



  

  <ion-grid *ngIf="viewStyle === 'grid'">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-segment value="proc" (ionChange)="onFilterUpdate($event)" color="danger">
          <ion-segment-button value="proc">Prosesor</ion-segment-button>
          <ion-segment-button value="ram">Ram</ion-segment-button>
          <ion-segment-button value="mobo">Mobo</ion-segment-button>
          <ion-segment-button value="gpu">GPU</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="eventS === 'proc'">
      <ion-col size="6" size-sm="4" *ngFor="let proc of proc; index as i">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-card [routerLink]="['./proc/', proc.id]" style="width: 400px;">
                  <ion-card-header class="center">
                      <ion-img class="gridImg" [src]="proc.imgUrl"></ion-img>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-label> 
                      <ion-text>
                        <h2 *ngIf="proc.model.length > 36"> <b>{{ proc.model | slice:0:36 }}...</b>  </h2>
                        <h2 *ngIf="proc.model.length <= 36"> <b>{{ proc.model }}</b>  </h2>
                        <p> {{ proc.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                        <p> Stock : {{ proc.stock | number }} </p>
                      </ion-text>
                    </ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-item *ngIf="proc.length == 0">
          <ion-label >No Item</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    

    <ion-row *ngIf="eventS === 'ram'">
      <ion-col size="6" size-sm="4" *ngFor="let ram of ram; index as i">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-card [routerLink]="['./ram/', ram.id]" style="width: 400px;">
                  <ion-card-header class="center">
                      <ion-img class="gridImg" [src]="ram.imgUrl"></ion-img>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-label> 
                      <ion-text>
                        <h2 *ngIf="ram.model.length > 36"> <b>{{ ram.model | slice:0:36 }}...</b>  </h2>
                        <h2 *ngIf="ram.model.length <= 36"> <b>{{ ram.model }}</b>  </h2>
                        <p> {{ ram.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                        <p> Stock : {{ ram.stock | number }} </p>
                      </ion-text>
                    </ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-item *ngIf="ram.length == 0">
          <ion-label >No Item</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="eventS === 'mobo'">
      <ion-col size="6" size-sm="4" *ngFor="let mobo of mobo; index as i">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-card [routerLink]="['./mobo/', mobo.id]" style="width: 400px;">
                  <ion-card-header class="center">
                      <ion-img class="gridImg" [src]="mobo.imgUrl"></ion-img>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-label> 
                      <ion-text>
                        <h2 *ngIf="mobo.model.length > 36"> <b>{{ mobo.model | slice:0:36 }}...</b>  </h2>
                        <h2 *ngIf="mobo.model.length <= 36"> <b>{{ mobo.model }}</b>  </h2>
                        <p> {{ mobo.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                        <p> Stock : {{ mobo.stock | number }} </p>
                      </ion-text>
                    </ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-item *ngIf="mobo.length == 0">
          <ion-label >No Item</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="eventS === 'gpu'">
      <ion-col size="6" size-sm="4" *ngFor="let gpu of gpu; index as i">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-card [routerLink]="['./gpu/', gpu.id]" style="width: 400px;">
                  <ion-card-header class="center">
                      <ion-img class="gridImg" [src]="gpu.imgUrl"></ion-img>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-label> 
                      <ion-text>
                        <h2 *ngIf="gpu.model.length > 36"> <b>{{ gpu.model | slice:0:36 }}...</b>  </h2>
                        <h2 *ngIf="gpu.model.length <= 36"> <b>{{ gpu.model }}</b>  </h2>
                        <p> {{ gpu.harga | currency:'Rp. ':'symbol':'3.0' }} </p>
                        <p> Stock : {{ gpu.stock | number }} </p>
                      </ion-text>
                    </ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-item *ngIf="gpu.length == 0">
          <ion-label >No Item</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

